<nav class="navbar navbar-dark bg-primary h-navbar">
  <div class="col-sm-4 text-left">
    <span class="navbar-text" style="color: white; font-size: 20px;">
        Connecté en tant que :<br>{{userDetails.email}}
    </span>
  </div>
  <div class="col-sm-4" align="center">
      <h1 class="head-title"><a class="navbar-brand" href="https://www.everydayheroes.fr/" target="_blank">
        <span style="font-weight: 400; display: block;">EVERYDAY</span>
        <span style="font-weight: 600; display: block; padding-left: 30px;">HEROES</span>
      </a></h1>
  </div>
  <div class="col-sm-4 text-right">
    <span class="navbar-text" style="color: white; font-size: 20px;">
      {{userDetails.coins}} <img src="assets/img/coin.png" alt="{{userDetails.coins}}" />
    </span>
  </div>
</nav>
